In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.decomposition import PCA
from sklearn.feature_selection import mutual_info_regression, RFE
from sklearn.linear_model import LinearRegression
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.cross_decomposition import PLSRegression
from sklearn.utils import resample
from itertools import combinations

In [8]:
df = pd.read_csv('grid_collector/data/clean_player_stats.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nickname         437 non-null    object
 1   player_id        437 non-null    int64
 2   series_count     437 non-null    int64
 3   game_count       437 non-null    int64
 4   total_kills      437 non-null    int64
 5   avg_kills        437 non-null    float64
 6   max_kills        437 non-null    int64
 7   min_kills        437 non-null    int64
 8   total_deaths     437 non-null    int64
 9   avg_deaths       437 non-null    float64
 10  max_deaths       437 non-null    int64
 11  min_deaths       437 non-null    int64
 12  kd_ratio         437 non-null    float64
 13  kills_per_game   437 non-null    float64
 14  deaths_per_game  437 non-null    float64
dtypes: float64(5), int64(9), object(1)
memory usage: 51.3+ KB
None

In [9]:
df =df.drop(columns='player_id', axis=1)
df  = df.set_index('nickname')
df.head()

,series_count,game_count,total_kills,avg_kills,max_kills,min_kills,total_deaths,avg_deaths,max_deaths,min_deaths,kd_ratio,kills_per_game,deaths_per_game
nickname,,,,,,,,,,,,,
marat2k 風速,37,89,1274,34.432432,61,14,1276,34.486486,68,13,0.998433,14.314607,14.337079
2high,22,53,750,34.090909,53,18,784,35.636364,47,18,0.956633,14.150943,14.792453
chawzyyy,4,9,134,33.500000,49,22,136,34.000000,43,18,0.985294,14.888889,15.111111
arvid,18,42,626,34.777778,63,20,633,35.166667,54,24,0.988942,14.904762,15.071429
ykis,5,10,165,33.000000,48,19,160,32.000000,42,18,1.031250,16.500000,16.000000

In [10]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

Index([], dtype='object')