In [ ]:
import pandas as pd

In [2]:
players_stats_df = pd.read_csv('grid_collector/data/player_stats_20241107_1832.csv')
display(players_stats_df)

,player_id,series_count,game_count,total_kills,avg_kills,max_kills,min_kills,total_deaths,avg_deaths,max_deaths,min_deaths,kd_ratio,kills_per_game,deaths_per_game,id,nickname,team_name
0,18932,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18932,AG Nuke,CS2-1
1,18933,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18933,BadjoSP,CS2-1
2,18934,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18934,wunder,CS2-1
3,18935,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18935,Bulletito,CS2-2
4,18936,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18936,AGmurdercore,CS2-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,119496,1,2,20,20.0,20,20,21,21.0,21,21,0.952381,10.0,10.5,119496,dobbo,Verdant
479,119696,1,2,31,31.0,31,31,33,33.0,33,33,0.939394,15.5,16.5,119696,MAT1-_-,kubixPulse
480,120255,1,2,23,23.0,23,23,19,19.0,19,19,1.210526,11.5,9.5,120255,redi,Hype E-sports
481,120298,1,2,14,14.0,14,14,30,30.0,30,30,0.466667,7.0,15.0,120298,★ ⑲ iogazeraXD,JOGA DE TERNO
482,120300,1,2,13,13.0,13,13,28,28.0,28,28,0.464286,6.5,14.0,120300,★ ⑳ lulu,JOGA DE TERNO

In [7]:
players_stats_df = players_stats_df.set_index('nickname')
players_stats_df

,player_id,series_count,game_count,total_kills,avg_kills,max_kills,min_kills,total_deaths,avg_deaths,max_deaths,min_deaths,kd_ratio,kills_per_game,deaths_per_game,id,team_name
nickname,,,,,,,,,,,,,,,,
AG Nuke,18932,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18932,CS2-1
BadjoSP,18933,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18933,CS2-1
wunder,18934,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18934,CS2-1
Bulletito,18935,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18935,CS2-2
AGmurdercore,18936,0,0,0,0.0,0,0,0,0.0,0,0,0.000000,0.0,0.0,18936,CS2-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dobbo,119496,1,2,20,20.0,20,20,21,21.0,21,21,0.952381,10.0,10.5,119496,Verdant
MAT1-_-,119696,1,2,31,31.0,31,31,33,33.0,33,33,0.939394,15.5,16.5,119696,kubixPulse
redi,120255,1,2,23,23.0,23,23,19,19.0,19,19,1.210526,11.5,9.5,120255,Hype E-sports
★ ⑲ iogazeraXD,120298,1,2,14,14.0,14,14,30,30.0,30,30,0.466667,7.0,15.0,120298,JOGA DE TERNO
★ ⑳ lulu,120300,1,2,13,13.0,13,13,28,28.0,28,28,0.464286,6.5,14.0,120300,JOGA DE TERNO

In [9]:
players_stats_df = players_stats_df[['team_name','kd_ratio']]
players_stats_df

                    team_name  kd_ratio
nickname
AG Nuke                 CS2-1  0.000000
BadjoSP                 CS2-1  0.000000
wunder                  CS2-1  0.000000
Bulletito               CS2-2  0.000000
AGmurdercore            CS2-2  0.000000
...                       ...       ...
dobbo                 Verdant  0.952381
MAT1-_-            kubixPulse  0.939394
redi            Hype E-sports  1.210526
★ ⑲ iogazeraXD  JOGA DE TERNO  0.466667
★ ⑳ lulu        JOGA DE TERNO  0.464286

[483 rows x 2 columns]

In [10]:
# Remove players with a kd_ratio of 0.00 or less
players_stats_df = players_stats_df[players_stats_df['kd_ratio'] > 0.00]
players_stats_df

                    team_name  kd_ratio
nickname
marat2k 風速                L&G  0.998433
2high            ENCE Academy  0.956633
chawzyyy        Johnny Speeds  0.985294
arvid                   HEIMO  0.988942
ykis                    HEIMO  1.031250
...                       ...       ...
dobbo                 Verdant  0.952381
MAT1-_-            kubixPulse  0.939394
redi            Hype E-sports  1.210526
★ ⑲ iogazeraXD  JOGA DE TERNO  0.466667
★ ⑳ lulu        JOGA DE TERNO  0.464286

[433 rows x 2 columns]

In [14]:
# Create kd_ratio categories
cs2_team_df['kd_ratio_category'] = pd.cut(
    cs2_team_df['kd_ratio'], 
    bins=[-float('inf'), 0.9, 1.1, float('inf')], 
    labels=['Low', 'Medium', 'High']
)

C:\Users\spenc\AppData\Local\Temp\ipykernel_14844\1443101306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cs2_team_df['kd_ratio_category'] = pd.cut(

In [12]:
from sklearn.preprocessing import LabelEncoder

# Encode 'team_name'
encoder = LabelEncoder()
cs2_team_df['team_name_encoded'] = encoder.fit_transform(cs2_team_df['team_name'])

C:\Users\spenc\AppData\Local\Temp\ipykernel_14844\3330635220.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cs2_team_df['team_name_encoded'] = encoder.fit_transform(cs2_team_df['team_name'])

In [15]:
# Define features (X) and target (y)
X = cs2_team_df[['team_name_encoded']]
y = cs2_team_df['kd_ratio_category']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Increase the number of trees for longer training time
clf = RandomForestClassifier(n_estimators=5000, random_state=42)  


# Predict and print accuracy score
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

Accuracy Score: 1.0